<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:vh="http://typo3.org/ns/In2code/Powermail/ViewHelpers"
    data-namespace-typo3-fluid="true">

<div id="powermail_fieldwrap_{field.uid}" class="powermail_fieldwrap powermail_fieldwrap_input powermail_fieldwrap_{field.uid} {field.css} powermail_fieldwrap_gdprlink">
    <f:render partial="Form/FieldLabel" arguments="{_all}" />
    <div class="{settings.styles.framework.fieldWrappingClasses}">
        <f:form.checkbox
            property="{field.marker}."
            value="data protection accepted"
            checked=""
            id="powermail_field_{field.marker}"
            additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field)}"
            class="powermail_checkbox powermail_checkbox_{field.uid}" />
        <div class="label">
            <f:format.html>{field.dataProtectionText}</f:format.html>
        </div>
    </div>
</div>

</html>
